@page "/"

@using Booliba.Data
@using System.Globalization

<div class="container-fluid">

    <h1>My work reports</h1>

    @if (_workReports == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Work Report Name</span>
                </div>
                <input type="text" class="form-control" @bind="_newWorkReportName" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                <button type="button" class="btn btn-warning btn-sm" @onclick="() => CreateWorkReport()" disabled="@(string.IsNullOrWhiteSpace(_newWorkReportName))"><i class="fas fa-plus-circle"></i></button>
            </div>
        </div>
        @foreach (var workReport in _workReports)
        {
            <div class="card">
                <div class="card-header container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <span>@workReport.Name</span>
                            <span class="badge rounded-pill badge-notification bg-primary">@workReport.TotalDayCount</span>
                        </div>
                        <div class="col-md-4 float-right text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@_newYear</button>
                                <div class="dropdown-menu">
                                    @foreach (var year in _availableYears)
                                    {
                                        <a class="dropdown-item" href="#" @onclick="() => ChangeNewYear(year)">@year</a>
                                    }
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(_newMonth)</button>
                                <div class="dropdown-menu">
                                    @foreach (var month in Enumerable.Range(1, 12))
                                    {
                                        <a class="dropdown-item" href="#" @onclick="() => ChangeNewMonth(month)">@CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(month)</a>
                                    }
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm" @onclick="() => AddMonth(workReport)"><i class="fas fa-plus"></i></button>
                            </div>
                            <button type="button" class="btn btn-warning btn-sm" @onclick="() => Remove(workReport)"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @foreach (var yearDays in workReport.DaysPerYear!)
                    {
                        <p class="card-title">@yearDays.Key</p>
                        <table class="table">
                            <tbody>
                                @foreach (var months in yearDays.GroupBy(d => d.Month))
                                {
                                    <tr>
                                        <th>
                                            <div>
                                                @CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(months.Key)
                                                <button type="button" class="btn btn-warning btn-sm" @onclick="() => Fill(workReport, yearDays.Key, months.Key)"><i class="fas fa-fill-drip"></i></button>
                                                <button type="button" class="btn btn-warning btn-sm" @onclick="() => Empty(workReport, yearDays.Key, months.Key)"><i class="fas fa-battery-empty"></i></button>

                                            </div>
                                        </th>
                                        <table class="table table-sm">
                                            <thead class="thead-light">
                                                @{
                                                    var monthDays = WorkReportHelpers.GetMonthDays(yearDays.Key, months.Key);
                                                }
                                                <tr>
                                                    @foreach (var day in monthDays)
                                                    {
                                                        <th class="@(WorkReports.OnWeekEnd(day.DayOfWeek))">
                                                            <button type="button" class="btn btn-sm btn-block text-center px-0" @onclick="() => workReport.Switch(day)"><small>@day.ToString("ddd")</small></button>
                                                        </th>
                                                    }
                                                </tr>
                                                <tr>
                                                    @foreach (var day in monthDays)
                                                    {
                                                        <th class="@(WorkReports.OnWeekEnd(day.DayOfWeek))">
                                                            <button type="button" class="btn btn-sm btn-block text-center px-0" @onclick="() => workReport.Switch(day)"><small>@day.Day</small></button>
                                                        </th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    @foreach (var day in monthDays)
                                                    {
                                                        <td class="@(months.Contains(day) ? "table-primary" : "table-default")"><div style="min-height: 25px" /></td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-11">
                            @foreach (var recipient in workReport.Recipients)
                            {
                                <a href="#" class="badge rounded-pill badge-primary" @onclick="() => workReport.RemoveRecipient(recipient)">@recipient</a>
                            }
                            <a href="#" class="badge rounded-pill badge-primary" @onclick="() => OpenAddRecipient(workReport)">+</a>
                        </div>
                        <div class="col-md-1 float-right text-right">
                            <button type="button" class="btn btn-primary btn-sm" @onclick="() => workReport.Send()"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@if (_addRecipientDialogOpen)
{
    <Booliba.Components.ModalDialog Title="Add a recipient"
                                WorkReportId=_workReportId!
                                OnEmailAdded="@OnEmailAdded" />
}